*{
    margin:0;
    padding:0;
    font-family: "Roboto Condensed", sans-serif;
}

.main{
    background:url("photo.jpg");
    height:100vh;
    background-size:cover;
}

.main .btn_one i{
    color:white;
    position:absolute;
    font-size:30px;
    font-weight:700;
    left:15px;
    line-height:60px;   
    cursor:pointer;
    transition:0.3s linear;
}

.sidebar_menu{
    width:300px;
    height:100vh;
    position:fixed;
    box-shadow:0 0 6px rgba(255,255,255,0.5);
    background-color:rgba(255,255,255,0.1);
    left:-350px;
    transition:all 0.2s linear;
}
.sidebar_menu .logo{
    position:absolute;
    width:100%;
    box-shadow:0 2px 4px rgba(255,255,255,0.5);
    line-height:60px;
    height:60px;
}
.sidebar_menu .logo a{
    left:60px;
    color:white;
    position:absolute;
    text-decoration:none;
    font-weight:500;
    font-size:20px;
}

.sidebar_menu .menu{
    width:100%;
    top:80px;
    position:absolute;
}

.sidebar_menu .menu li{
   margin-top:6px;
   color:white;
   padding:10px 20px;
}

.sidebar_menu .btn_two  i{
    color:white;
    opacity:0.5;
    color:grey;
    position:absolute;
    font-size:25px;
    line-height:60px;
    left:275px;
    cursor:pointer;
    transition:0.3s linear;
}

.sidebar_menu .menu i,a{
   color:white;
   text-decoration:none;
   font-size:20px;
}

.sidebar_menu .menu i{
   padding-right:8px;
}

.sidebar_menu .social_media{
    color:white;
    opacity:0.5;
    position:absolute;
    left:25%;
    bottom:50px;
}

.sidebar_menu .social_media i{
    color:white;
    padding:0 5px;
    opacity:0.7;
}
#check{
    display:none;
}

.sidebar_menu .menu li:hover{
    box-shadow:0 0 4px rgba(255,255,255,0.5);
}

.btn_one i:hover{
    font-size:40px;
}

.btn_two i:hover{
    font-size:30px;
}

.sidebar_menu .social_media i:hover{
    transform:scale(1.2);
    opacity:1;
}

/* ~ tilt selector for sibling */
#check:checked ~.sidebar_menu{
     left:0;
}

#check:checked ~.btn_one{
    opacity:0;
}

